$white: #fff;
$black: #000;
$main-text: #1d1d1d;
$dark-gray: #484848;
$pink: #f42267;
$violet: #4b2d7f;
$light-pink: #ff5990;
$light-violet: #a57ee9;
$bg-works: #f1f1f1;
$works-text: #333333;
$footer-list: #171717;
$copyright-bg: #f6f6f6;